body {
	background: #000033;
	font-size: 13px;
	font-family: "ו";
	scrollbar-base-color: #dbecf8;
	scrollbar-arrow-color: #2a8ed1;
	scrollbar-track-color: #bdddf2;
	scrollbar-3dlight-color: #2886c5;
	scrollbar-darkshadow-color: #2886c5;
	scrollbar-face-color: #dbecf8;
	scrollbar-shadow-color: #dbecf8;
	margin: 1px;
	border: 1px solid #99ffff;
}

A:link {
	COLOR: #00ffcc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #00ffcc; TEXT-DECORATION: none
}
A:active {
	COLOR: #00ffcc; TEXT-DECORATION: none
}
A:hover {
	COLOR: #00cc00; TEXT-DECORATION: underLine;
}

img.Icon {
	margin-bottom: -4px;
}

#MenuUl, ul.MenuLevel1{
	list-style:none;
	margin: 0px;
	padding: 0px;
    background:#ffffcc;
}

ul.MenuLevel2 {
	list-style:none;
	margin: 0px;
	padding: 0px;
	background: #d8ebf7;
}

#Menu {
	padding: 0px;
	float: left;
	width: 100%;
	margin: 0px;
	font-weight:normal;
}

.leve {
	width: 155px;
	height: 30px;
	background: #000033;
	padding-left: 20px;
	padding-top: 8px;

}
.level1 {
	font-weight: bold;
	color:#00ffcc;
	padding-bottom: 1px;
}

.level2 {
	font-weight: normal;
	color: #009966;
}

.level3Head {
	font-weight: normal;
	color: #2479b6;
	width: 100%;
	height: 21px;
	padding-left: 61px;
	padding-top: 4px;
	margin: 0;
	background: url(images/menu_bg_head.gif) no-repeat;
	cursor: hand;
}

.level33 {
	font-weight: normal;
	color: #2479b6;
	width: 100%;
	height: 21px;
	padding-left: 61px;
	padding-top: 4px;
	background: url(images/menu_bg_3.gif) no-repeat;
	cursor: hand;
}

.level32 {
	font-weight: normal;
	color: #2479b6;
	width: 100%;
	height: 21px;
	padding-left: 61px;
	padding-top: 4px;
	background: url(images/menu_bg_2.gif) no-repeat;
	cursor: hand;
}

.level1Style {
	width: 155px;
	height: 30px;
	background: #000033;
	padding-left: 20px;
	padding-top: 6px;
	border-top: 2px solid #003366;
	cursor: hand;
}
.level11Style {
	width: 155px;
	height: 30px;
	padding-left: 40px;
	padding-top: 6px;
	border-top: 2px solid #003366;
	cursor: hand;
}
.level1SelectedStyle {
	width: 155px;
	height: 24px;
	background: url(images/menu_btn_bg_selected.png) no-repeat;
	padding-left: 20px;
	padding-top: 4px;
	cursor: hand;
}

.level2Style {
	width: 100%;
	height: 20px;
	background: #000033;
	padding-left: 30px;
	padding-top: 4px;
	border-top: 1px solid #eff6fb;
	cursor: hand;
}
